# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production

# Build output
dist/
build/

# Uploads (file yang diupload user)
uploads/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/